* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.nav,
.banner,
.about,
.services,
.projects,
.gallery,
.footer {
	padding: 30px;
	color: #F8FCDA;
}

.logo {
	width: 140px;
	height: 140px;
	background-color: darkgrey;
	margin: 0 auto; /*center horizontally*/
	background-image: url('../images/logo.gif');
	background-size: cover;
}

.nav{
	background-color: black;
	height: 100vh;
	width: 200px;
	position: fixed;
	background-image: url('../images/b10.jpg');
	background-size: cover;
 	background-repeat: no-repeat;
 	background-attachment: fixed;
}

ul {
	padding-left: 0;
}

.box:hover > .landing-text {
	visibility: visible;
}

.nav:hover li {
	border-bottom: 3px solid #67d1e3;
	margin-bottom: 7px;
}

ul > li {
	list-style: none;
	background-color: lightblue;
	margin-bottom: 2px;
	line-height: 48px; /*base font size =16 *3 =84px*/
	text-align: center;
}

ul > li > a {
	text-decoration: none;
}

.main {
	background-color: black;
	margin-left: 200px;




}

.banner {
	background-color: skyblue;
	height: 100vh;
	position: relative;
	background-image: url('../images/b10.jpg');
	background-size: cover;
 	background-repeat: repeat;
 	background-attachment: fixed;
 	color: #F8FCDA;
 	font-family: 'Gentium Basic', serif;


}
.box {
	border: 5px dotted white;
	text-align: center;
	width: 40%;
	padding: 40px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


html {
	scroll-behavior: smooth;
}


.about {
	background-color: indianred;
	height: 100vh;
	background-image: url('../images/b2.jpg');
	/*background-size: cover;
 	background-repeat: repeat;
 	background-attachment: fixed;*/
 	color: #F8FCDA;
 	font-family: 'Indie Flower', cursive;

}

.services {
	background-color: midnightblue;
	height: 100vh;
	background-image: url('../images/111.jpg');
	background-size: cover;
 	background-repeat: repeat;
 	background-attachment: fixed;
}


.column {
	border: 1px solid white;
	width: 31%;
	margin-left: 1.16%;
	margin-right: 1.16%;
	float: left;
	min-height: 200px;
}

img[alt*="service"] {
	border: 1px slid white;
	width: 60px;
	height: 60px;
	display: block; /*to set height and width*/
	float: left;
}

.no-top {
	margin-top: 0;
}
.gallery > .column {
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
}

img[alt*="gallery"] {
	width: 100%;
	height: 100px;
	display: block;
	border-style: 1px solid white;
}

.clear:after {
	content: "";
	display: block;
	clear: both;

}

.projects {
	background-color: crimson;
	height: 100vh;
	background-image: url('../images/b4.jpg');
	background-size: cover;
 	background-repeat: repeat;
 	background-attachment: fixed;
}

.gallery {
	background-color: orange;
	height: 100vh;
	background-image: url('../images/b7.jpg');
	background-size: cover;
 	background-repeat: repeat;
 	background-attachment: fixed;
}
}

.footer {
	background-color: green;
	height: 50px;
	min-height: 50px;
}

img[alt*="social"] {
	width: 20px;
	height: 20px;
	border: 1px solid white;
	display: block;
	float: left;
	margin-right: 10px;
}

.contact {
	float: right;
}

ul > li:hover > a > span {
	display: none;
}

ul >li:hover>a{
	font-weight: bolder;
	color: #fff;
	text-align: center;
	font-size: 1.20em;
}